[
  {
    "CLIENT_NAME": "{{ client_code }}",
    "EMAILS": "{{ classyllama_updatenotifier_emails }}",
    "CHECK_REDIS": "{{ classyllama_updatenotifier_checkredis }}",
    "REDIS_HOST": "{{ classyllama_updatenotifier_redis_host }}",
    "REDIS_PORT": "{{ classyllama_updatenotifier_redis_port }}",
    "CHECK_ELASTIC": "{{ classyllama_updatenotifier_checkelastic }}",
    "ES_USER": "{{ classyllama_updatenotifier_elastic_user }}",
    "ES_PASS": "{{ classyllama_updatenotifier_elastic_pass }}",
    "ES_HOST": "{{ classyllama_updatenotifier_elastic_host }}",
    "ES_PORT": "{{ classyllama_updatenotifier_elastic_port }}",
    "CHECK_MYSQL": "{{ classyllama_updatenotifier_checkmysql }}"
  }
 ]
